<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScreenShot_Grab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScreenShot_Grab.Properties.Settings>
            <setting name="cutborder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="scrpath" serializeAs="String">
                <value />
            </setting>
            <setting name="svurl" serializeAs="String">
                <value>http://localhost/img_up.php?key=TEST</value>
            </setting>
            <setting name="agent" serializeAs="String">
                <value>test-upload</value>
            </setting>
            <setting name="ignoressl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="opendir" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="openlink" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="copylink" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="service" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="editor" serializeAs="String">
                <value>mspaint.exe</value>
            </setting>
            <setting name="sysedit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="access_token" serializeAs="String">
                <value />
            </setting>
            <setting name="refresh_token" serializeAs="String">
                <value />
            </setting>
            <setting name="account" serializeAs="String">
                <value />
            </setting>
            <setting name="format" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="quality" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="cut_top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cut_left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cut_right" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cut_bottom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value />
            </setting>
            <setting name="autoshow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="expires" serializeAs="String">
                <value />
            </setting>
            <setting name="writelog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="logfile" serializeAs="String">
                <value />
            </setting>
            <setting name="clipboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startmin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autosave" serializeAs="String">
                <value>False</value>
            </setting>
        </ScreenShot_Grab.Properties.Settings>
    </userSettings>
    <startup>
        <supportedRuntime version="v4.0"/>
        <supportedRuntime version="v2.0.50727"/>
    </startup>
</configuration>
